@page

@{
	Layout = "../SocialMedia/Shared/_AuthLayout.cshtml";
}
<section>
	<div class="page-header">
		<div class="header-inner">
			<h2>Now You are out of Pitnik</h2>
			<p>
				Discover what's happining right now in the world.
			</p>
		</div>
		<figure><img src="images/resources/baner-forum.png" alt=""></figure>
	</div>
</section><!-- sub header -->

<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="offset-lg-1 col-lg-10">
					<div class="row border-center">
						<div class="col-lg-6 col-md-6">
							<div class="already-log">
								<h4>Recent Login</h4>
								<p>Next Time you login click your picture. To remove an account from this page click cross.</p>
								<div class="log-user">
									<div class="row">
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="user-log">
												<i class="ti-close" title="Remove Account"></i>
												<a href="#" title="">
													<img src="images/resources/author.jpg" alt="">
													<span>Adam James</span>
												</a>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="user-log">
												<i class="ti-close" title="Remove Account"></i>
												<a href="#" title="">
													<img src="images/resources/author2.jpg" alt="">
													<span>Emma Watson</span>
												</a>
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4">
											<div class="user-add">
												<div><i class="ti-plus"></i><span>Add Account</span></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="logout-f">
								<h4><i class="fa fa-key"></i> Login</h4>
								<p>Login again, you have recently signout from here</p>
								<div class="logout-form">
									<form method="post" class="again-login">
										<input type="text" placeholder="User Name" value="Adam James">
										<input type="password" placeholder="Password" value="12345678">
										<button type="submit">Login</button>
									</form>
									<a href="#" title="">Create New Signup</a>
									<p>By clicking Sign Up, you agree to our <a href="#" title="">Terms & Policy</a>. You may receive SMS notifications from us and can opt out at any time.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="sub-total">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="total">
									<i class="ti-check"></i>
									<span>Registerd Users</span>
									<em>1,01,242</em>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="total">
									<i class="ti-image"></i>
									<span>Posts published</span>
									<em>21,01,242</em>
								</div>
							</div>
							<div class="col-lg-4col-md-4 col-sm-4">
								<div class="total">
									<i class="fa fa-users"></i>
									<span>People online</span>
									<em>41,242</em>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>