@page "/forum"

@{
	Layout = "../SocialMedia/Shared/_AdditionalLayout.cshtml";
}

<section>
	<div class="page-header">
		<div class="header-inner">
			<h2>Forum</h2>
			<p>
				Welcome to Pitnik Social Network. This page is for the community where user can put some technicial questions about the pitnik policies.
			</p>
		</div>
		<figure><img src="images/resources/baner-forum.png" alt=""></figure>
	</div>
</section><!-- sub header -->

<section>
	<div class="gap gray-bg">
		<div class="container">
			<div class="row merged20">
				<div class="col-lg-9">
					<div class="forum-warper">
						<div class="central-meta">
							<div class="title-block">
								<div class="row">
									<div class="col-lg-6">
										<div class="align-left">
											<h5>Forum Posts</h5>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="row merged20">
											<div class="col-lg-7 col-md-7 col-sm-7">
												<form method="post">
													<input type="text" placeholder="Search...">
													<button type="submit"><i class="fa fa-search"></i></button>
												</form>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-4">
												<div class="select-options">
													<select class="select">
														<option>Sort by</option>
														<option>See All</option>
														<option>Newest</option>
														<option>oldest</option>
														<option>A to Z</option>
													</select>
												</div>
											</div>
											<div class="col-lg-1 col-md-1 col-sm-1">
												<div class="option-list">
													<i class="fa fa-ellipsis-v"></i>
													<ul>
														<li class="active"><i class="fa fa-check"></i><a title="" href="#">Show Public</a></li>
														<li><a title="" href="#">Show only Friends</a></li>
														<li><a title="" href="#">Hide all Posts</a></li>
														<li><a title="" href="#">Mute Notifications</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><!-- title block -->
						<h4>A new way to find help </h4>
						<a class="addnewforum" href="forum-create-topic.html" title=""><i class="fa fa-plus"></i> Add New</a>
					</div>
					<div class="central-meta">
						<div class="forum-list">
							<table class="table table-responsive">
								<thead>
									<tr>
										<th scope="col">forum</th>
										<th scope="col">topics</th>
										<th scope="col">posts</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<i class="fa fa-comments"></i>
											<a href="forums-category.html" title="">Asset for creating a beautiful website</a>
											<p>list your recommended website and when you start to create your website so please check your laptop window and battery &#58;-&#41;</p>
										</td>
										<td>4</td>
										<td>5</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-comments"></i>
											<a href="forums-category.html" title="">Modifications & Useful Snippets</a>
											<p>Share your own custom snippets for modifying the winku template beyond it's limits.</p>
										</td>
										<td>10</td>
										<td>3</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-comments"></i>
											<a href="forums-category.html" title="">Pricing & Redunds</a>
											<p>Questions regarding pricing and refunds should be posted here.</p>
										</td>
										<td>40</td>
										<td>23</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-comments"></i>
											<a href="forums-category.html" title="">SEO Optimization</a>
											<p>Post your SEO optimizations and tips via this thread.</p>
										</td>
										<td>2</td>
										<td>8</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-comments"></i>
											<a href="forums-category.html" title="">Server Related Errors and Fixes</a>
											<p>Having issues with your server and your hosting company won't help you? Post a comment on the forum for help.</p>
										</td>
										<td>14</td>
										<td>60</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-comments"></i>
											<a href="forums-category.html" title="">Why should you purchase the winku Template?</a>
											<p>Winku have a great features and created with the logic for making easy to create social website.</p>
										</td>
										<td>15</td>
										<td>29</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-comments"></i>
											<a href="forums-category.html" title="">Beginner Guides & Tips</a>
											<p>Useful tips, guides and tricks for beginners.</p>
										</td>
										<td>30</td>
										<td>10</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-comments"></i>
											<a href="forums-category.html" title="">Pricing & Redunds</a>
											<p>Questions regarding pricing and refunds should be posted here.</p>
										</td>
										<td>40</td>
										<td>23</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-comments"></i>
											<a href="forums-category.html" title="">SEO Optimization</a>
											<p>Post your SEO optimizations and tips via this thread.</p>
										</td>
										<td>2</td>
										<td>8</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-comments"></i>
											<a href="forums-category.html" title="">Asset for creating a beautiful website</a>
											<p>list your recommended website and when you start to create your website so please check your laptop window and battery &#58;-&#41;</p>
										</td>
										<td>4</td>
										<td>5</td>
									</tr>
									<tr>
										<td>
											<i class="fa fa-comments"></i>
											<a href="forums-category.html" title="">Modifications & Useful Snippets</a>
											<p>Share your own custom snippets for modifying the winku template beyond it's limits.</p>
										</td>
										<td>10</td>
										<td>3</td>
									</tr>
								</tbody>
							</table>
							<div class="lodmore">
								<button class="btn-view btn-load-more"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<aside class="sidebar static">
						<div class="widget">
							<div class="singin">
								<h4 class="widget-title">Login</h4>
								<form method="post">
									<input type="text" placeholder="User Name">
									<input type="password" placeholder="Password">
									<div class="checkbox">
										<label>
											<input type="checkbox" checked="checked"><i class="check-box"></i>
											<span>Remember Me</span>
										</label>
									</div>
									<button type="submit">Log In</button>
								</form>
							</div>
						</div>
						<div class="widget">
							<h4 class="widget-title">Forum Statistics</h4>
							<ul class="forum-static">
								<li>
									<a href="#" title="">Forums</a>
									<span>13</span>
								</li>
								<li>
									<a href="#" title="">Registered Users</a>
									<span>50</span>
								</li>
								<li>
									<a href="#" title="">Topics</a>
									<span>14</span>
								</li>
								<li>
									<a href="#" title="">Replies</a>
									<span>32</span>
								</li>
								<li>
									<a href="#" title="">Topic Tags</a>
									<span>50</span>
								</li>
							</ul>
						</div>
						<div class="widget">
							<h4 class="widget-title">Recent Topics</h4>
							<ul class="recent-topics">
								<li>
									<a href="#" title="">The new Goddess of War trailer was launched at E3!</a>
									<span>2 hours, 16 minutes ago</span>
									<i>The Community</i>
								</li>
								<li>
									<a href="#" title="">The new Goddess of War trailer was launched at E3!</a>
									<span>2 hours, 16 minutes ago</span>
									<i>The Community</i>
								</li>
								<li>
									<a href="#" title="">The new Goddess of War trailer was launched at E3!</a>
									<span>2 hours, 16 minutes ago</span>
									<i>The Community</i>
								</li>
							</ul>
						</div>
						<div class="widget">
							<h4 class="widget-title">Featured Topics</h4>
							<ul class="feature-topics">
								<li>
									<i class="fa fa-star"></i>
									<a href="#" title="">What is your favourit season in summer?</a>
									<span>2 hours, 16 minutes ago</span>
								</li>
								<li>
									<i class="fa fa-star"></i>
									<a href="#" title="">The new Goddess of War trailer was launched at E3!</a>
									<span>2 hours, 16 minutes ago</span>
								</li>
								<li>
									<i class="fa fa-star"></i>
									<a href="#" title="">Summer is Coming! Picnic in the east boulevard park</a>
									<span>2 hours, 16 minutes ago</span>
								</li>
							</ul>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="getquot-baner purple high-opacity">
		<div class="bg-image" style="background-image:url(images/resources/animated-bg2.png)"></div>
		<span>Want to join our awesome forum and start interacting with others?</span>
		<a title="" href="#">Sign up</a>
	</div>
</section>