@page "/searchresult"
<section>
	<div class="gap2 gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row merged20" id="page-contents">
						<div class="col-lg-12">
							<div class="search-meta">
								<span>Your search result for " <i>jack carter</i> " 30</span>
							</div>
						</div>
						<div class="col-lg-3">
							<aside class="sidebar static left">
								<div class="widget">
									<h4 class="widget-title">Filter Search</h4>
									<form class="c-form search" method="post">
										<div>
											<label>Gender</label>
											<div class="form-radio">
												<div class="radio">
													<label>
														<input type="radio" checked="checked" name="radio"><i class="check-box"></i>Male
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" name="radio"><i class="check-box"></i>Female
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" name="radio"><i class="check-box"></i>Custom
													</label>
												</div>
											</div>
										</div>
										<div>
											<label>Post From</label>
											<div class="form-radio">
												<div class="radio">
													<label>
														<input type="radio" checked="checked" name="radio"><i class="check-box"></i>Public
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" name="radio"><i class="check-box"></i>You
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" name="radio"><i class="check-box"></i>Your Friends
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" name="radio"><i class="check-box"></i>Your Group and pages
													</label>
												</div>
											</div>
										</div>
										<div>
											<label>Post Type</label>
											<div class="form-radio">
												<div class="radio">
													<label>
														<input type="radio" checked="checked" name="radio"><i class="check-box"></i>All Posts
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" name="radio"><i class="check-box"></i>Posts you seen
													</label>
												</div>
											</div>
										</div>
										<div>
											<label>Post in Group</label>
											<div class="form-radio">
												<div class="radio">
													<label>
														<input type="radio" checked="checked" name="radio"><i class="check-box"></i>Any Group
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" name="radio"><i class="check-box"></i>your Group
													</label>
												</div>
											</div>
										</div>
										<div>
											<label>Location</label>
											<div class="form-radio">
												<div class="radio">
													<label>
														<input type="radio" checked="checked" name="radio"><i class="check-box"></i>World wide
													</label>
												</div>
												<div class="radio">
													<label>
														<input type="radio" name="radio"><i class="check-box"></i>your Country
													</label>
												</div>
												<div class="radio">
													<a href="#" title="">
														Targeted location
													</a>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="advertisment-box">
									<h4 class="">advertisment</h4>
									<figure>
										<a href="#" title="Advertisment"><img src="images/resources/ad-widget.gif" alt=""></a>
									</figure>
								</div>
								<div class="widget">
									<div class="banner medium-opacity purple">
										<div class="bg-image" style="background-image: url(images/resources/baner-widgetbg.jpg)"></div>
										<div class="baner-top">
											<span><img alt="" src="images/book-icon.png"></span>
											<i class="fa fa-ellipsis-h"></i>
										</div>
										<div class="banermeta">
											<p>
												create your own favourit page.
											</p>
											<span>like them all</span>
											<a data-ripple="" title="" href="#">start now!</a>
										</div>
									</div>
								</div>

							</aside>
						</div><!-- sidebar -->
						<div class="col-lg-7">
							<div class="search-tab">
								<ul class="nav nav-tabs tab-btn">
									<li class="nav-item"><a class="active" href="#All" data-toggle="tab">All</a></li>
									<li class="nav-item"><a class="" href="#people" data-toggle="tab">People</a></li>
									<li class="nav-item"><a class="" href="#photos" data-toggle="tab">Photos</a></li>
									<li class="nav-item"><a class="" href="#videos" data-toggle="tab">Videos</a></li>
									<li class="nav-item"><a class="" href="#posts" data-toggle="tab">Posts</a></li>
									<li class="nav-item"><a class="" href="#pages" data-toggle="tab">Pages</a></li>
									<li class="nav-item"><a class="" href="#groups" data-toggle="tab">Groups</a></li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active fade show " id="All">
										<div class="central-meta item">
											<span class="create-post">Albums<a title="" href="#">See All</a></span>
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="images/resources/nearly2.jpg" alt="">
													</figure>
													<div class="friend-name">
														<div class="more">
															<div class="more-post-optns">
																<i class="ti-more-alt"></i>
																<ul>
																	<li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
																</ul>
															</div>
														</div>
														<ins><a href="time-line.html" title="">Jack Carter</a> Post Album</ins>
														<span><i class="fa fa-globe"></i> published: September,15 2020 19:PM </span>

													</div>
													<div class="post-meta">
														<figure>
															<div class="img-bunch">
																<div class="row">
																	<div class="col-lg-4 col-sm-4 col-md-4">
																		<figure>
																			<a class="strip" href="images/resources/album6.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																				<img src="images/resources/album6.jpg" alt="">
																			</a>
																		</figure>
																	</div>
																	<div class="col-lg-4 col-sm-4 col-md-4">
																		<figure>
																			<a class="strip" href="images/resources/album5.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																				<img src="images/resources/album5.jpg" alt="">
																			</a>
																		</figure>
																	</div>
																	<div class="col-lg-4 col-sm-4 col-md-4">
																		<figure>
																			<a class="strip" href="images/resources/album4.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																				<img src="images/resources/album4.jpg" alt="">
																			</a>
																			<div class="more-photos">
																				<span>+15</span>
																			</div>
																		</figure>
																	</div>
																</div>
															</div>
														</figure>
													</div>
												</div>

											</div>
										</div><!-- picture album -->
										<div class="central-meta item">
											<span class="create-post">Pictures<a title="" href="#">See All</a></span>
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="images/resources/nearly2.jpg" alt="">
													</figure>
													<div class="friend-name">
														<div class="more">
															<div class="more-post-optns">
																<i class="ti-more-alt"></i>
																<ul>
																	<li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
																</ul>
															</div>
														</div>
														<ins><a href="time-line.html" title="">Jack Carter</a> Post</ins>
														<span><i class="fa fa-globe"></i> published: September,15 2020 19:PM </span>

													</div>
													<div class="post-meta searched">
														<div class="linked-image align-right">
															<a href="#" title=""><img src="images/resources/search-2.jpg" alt=""></a>
														</div>
														<div class="detail">
															<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor incididunt ut labor... </p>
														</div>

													</div>
												</div>
											</div>
										</div><!-- post with image -->
										<div class="central-meta item">
											<span class="create-post">Videos<a title="" href="#">See All</a></span>
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="images/resources/nearly2.jpg" alt="">
													</figure>
													<div class="friend-name">
														<div class="more">
															<div class="more-post-optns">
																<i class="ti-more-alt"></i>
																<ul>
																	<li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
																</ul>
															</div>
														</div>
														<ins><a href="time-line.html" title="">Jack Carter</a> video</ins>
														<span><i class="fa fa-globe"></i> published: August,15 2020 19:PM </span>

													</div>
													<div class="post-meta searched">
														<div class="linked-image align-right">
															<a href="https://www.youtube.com/watch?v=MIbbtEjdYrc" title="" data-strip-group="mygroup" class="strip" data-strip-options="width: 700,height: 450,youtube: { autoplay: 1 }">
																<img src="images/resources/search-1.jpg" alt="">
																<i>
																	<svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="30px" width="30px"
																		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
																	<path class="stroke-solid" fill="none" stroke="" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
																	C97.3,23.7,75.7,2.3,49.9,2.5" />
																	<path class="icon" fill="" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
																	</svg>
																</i>
															</a>
														</div>
														<div class="detail">
															<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit...</p>
														</div>

													</div>
												</div>
											</div>
										</div><!-- post with video -->
										<div class="central-meta item">
											<span class="create-post">People<a title="" href="#">See All</a></span>
											<div class="pit-friends">
												<figure><a href="#" title=""><img src="images/resources/searching1.jpg" alt=""></a></figure>
												<div class="pit-frnz-meta">
													<a href="#" title="">Jack Carter</a>
													<i>Tornoto</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
														</li>
														<li class="remove-frnd">
															<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-friends">
												<figure><a href="#" title=""><img src="images/resources/searching2.jpg" alt=""></a></figure>
												<div class="pit-frnz-meta">
													<a href="#" title="">Jack Carter jackson</a>
													<i>Tornoto</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
														</li>
														<li class="remove-frnd">
															<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-friends">
												<figure><a href="#" title=""><img src="images/resources/searching3.jpg" alt=""></a></figure>
												<div class="pit-frnz-meta">
													<a href="#" title="">Jack jackson</a>
													<i>manitoba</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
														</li>
														<li class="remove-frnd">
															<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-friends">
												<figure><a href="#" title=""><img src="images/resources/searching4.jpg" alt=""></a></figure>
												<div class="pit-frnz-meta">
													<a href="#" title="">Jack william</a>
													<i>Nova Scotia</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
														</li>
														<li class="remove-frnd">
															<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div><!-- searched peoples -->
										<div class="central-meta item">
											<span class="create-post">Groups<a title="" href="#">See All</a></span>
											<div class="pit-groups">
												<figure><a href="#" title=""><img src="images/resources/jackgroup1.jpg" alt=""></a></figure>
												<div class="pit-groups-meta">
													<a href="#" title="">Jack Cooler</a>
													<i>Group · 4.2K members · 510 posts a day</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-plus"></i> Join</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-groups">
												<figure><a href="#" title=""><img src="images/resources/jackgroup2.jpg" alt=""></a></figure>
												<div class="pit-groups-meta">
													<a href="#" title="">Jack Carter</a>
													<i>Group · 4.2K members · 510 posts a day</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-plus"></i> Join</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-groups">
												<figure><a href="#" title=""><img src="images/resources/jackgroup3.jpg" alt=""></a></figure>
												<div class="pit-groups-meta">
													<a href="#" title="">Jack & Jack</a>
													<i>Group · 4.2K members · 510 posts a day</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-plus"></i> Join</a>
														</li>
													</ul>
												</div>
											</div>
										</div><!-- searched groups -->
										<div class="central-meta item">
											<span class="create-post">Pages<a title="" href="#">See All</a></span>
											<div class="pit-pages">
												<figure><a href="#" title=""><img src="images/resources/jackpage1.jpg" alt=""></a></figure>
												<div class="pit-pages-meta">
													<a href="#" title="">Jack Cafe</a>
													<i>Nova Scotia</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Like" href="#"><i class="fa fa-thumbs-up"></i> Like</a>
														</li>
														<li class="remove-frnd">
															<a title="Follow" href="#"><i class="fa fa-star"></i></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-pages">
												<figure><a href="#" title=""><img src="images/resources/jackpage2.jpg" alt=""></a></figure>
												<div class="pit-pages-meta">
													<a href="#" title="">Jack's Cola</a>
													<i>Washington DC</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Like" href="#"><i class="fa fa-thumbs-up"></i> Like</a>
														</li>
														<li class="remove-frnd">
															<a title="Follow" href="#"><i class="fa fa-star"></i></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-pages">
												<figure><a href="#" title=""><img src="images/resources/jackpage3.jpg" alt=""></a></figure>
												<div class="pit-pages-meta">
													<a href="#" title="">Jack's Jim</a>
													<i>USA</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Like" href="#"><i class="fa fa-thumbs-up"></i> Like</a>
														</li>
														<li class="remove-frnd">
															<a title="Follow" href="#"><i class="fa fa-star"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div><!-- searched pages -->
									</div>
									<div class="tab-pane fade" id="people">
										<div class="central-meta item">
											<span class="create-post">People<a title="" href="#">See All</a></span>
											<div class="pit-friends">
												<figure><a href="#" title=""><img src="images/resources/searching1.jpg" alt=""></a></figure>
												<div class="pit-frnz-meta">
													<a href="#" title="">Jack Carter</a>
													<i>Tornoto</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
														</li>
														<li class="remove-frnd">
															<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-friends">
												<figure><a href="#" title=""><img src="images/resources/searching2.jpg" alt=""></a></figure>
												<div class="pit-frnz-meta">
													<a href="#" title="">Jack Carter jackson</a>
													<i>Tornoto</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
														</li>
														<li class="remove-frnd">
															<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-friends">
												<figure><a href="#" title=""><img src="images/resources/searching3.jpg" alt=""></a></figure>
												<div class="pit-frnz-meta">
													<a href="#" title="">Jack jackson</a>
													<i>manitoba</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
														</li>
														<li class="remove-frnd">
															<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-friends">
												<figure><a href="#" title=""><img src="images/resources/searching4.jpg" alt=""></a></figure>
												<div class="pit-frnz-meta">
													<a href="#" title="">Jack william</a>
													<i>Nova Scotia</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
														</li>
														<li class="remove-frnd">
															<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div><!-- searched peoples -->
									</div>
									<div class="tab-pane fade" id="photos">
										<div class="central-meta item">
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="images/resources/nearly2.jpg" alt="">
													</figure>
													<div class="friend-name">
														<div class="more">
															<div class="more-post-optns">
																<i class="ti-more-alt"></i>
																<ul>
																	<li><i class="fa fa-comment"></i>Send Message</li>
																</ul>
															</div>
														</div>
														<ins><a href="time-line.html" title="">Jack Carter</a> Post Album</ins>
														<span><i class="fa fa-globe"></i> published: September,15 2020 19:PM </span>

													</div>
													<div class="post-meta">
														<figure>
															<div class="img-bunch">
																<div class="row">
																	<div class="col-lg-4 col-md-4 col-sm-4">
																		<figure>
																			<a class="strip" href="images/resources/album6.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																				<img src="images/resources/album6.jpg" alt="">
																			</a>
																		</figure>
																	</div>
																	<div class="col-lg-4 col-md-4 col-sm-4">
																		<figure>
																			<a class="strip" href="images/resources/album5.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																				<img src="images/resources/album5.jpg" alt="">
																			</a>
																		</figure>
																	</div>
																	<div class="col-lg-4 col-md-4 col-sm-4">
																		<figure>
																			<a class="strip" href="images/resources/album4.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																				<img src="images/resources/album4.jpg" alt="">
																			</a>
																			<div class="more-photos">
																				<span>+15</span>
																			</div>
																		</figure>
																	</div>
																</div>
															</div>
														</figure>
													</div>
												</div>

											</div>
										</div>
										<div class="central-meta item">
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="images/resources/nearly1.jpg" alt="">
													</figure>
													<div class="friend-name">
														<div class="more">
															<div class="more-post-optns">
																<i class="ti-more-alt"></i>
																<ul>
																	<li><i class="fa fa-comment"></i>Send Message</li>
																</ul>
															</div>
														</div>
														<ins><a href="time-line.html" title="">Silly</a> Picture</ins>
														<span><i class="fa fa-globe"></i> published: September,15 2020 19:PM </span>

													</div>
													<div class="post-meta">
														<figure>
															<div class="img-bunch">
																<div class="row">
																	<div class="col-lg-4 col-md-4 col-sm-4">
																		<figure>
																			<a class="strip" href="images/resources/album6.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																				<img src="images/resources/album6.jpg" alt="">
																			</a>
																		</figure>
																	</div>
																	<div class="col-lg-4 col-md-4 col-sm-4">
																		<figure>
																			<a class="strip" href="images/resources/album5.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																				<img src="images/resources/album5.jpg" alt="">
																			</a>
																		</figure>
																	</div>
																	<div class="col-lg-4 col-md-4 col-sm-4">
																		<figure>
																			<a class="strip" href="images/resources/album4.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																				<img src="images/resources/album4.jpg" alt="">
																			</a>
																		</figure>
																	</div>
																</div>
															</div>
														</figure>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="videos">
										<div class="central-meta item">
											<span class="create-post">Videos<a title="" href="#">See All</a></span>
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="images/resources/nearly2.jpg" alt="">
													</figure>
													<div class="friend-name">
														<div class="more">
															<div class="more-post-optns">
																<i class="ti-more-alt"></i>
																<ul>
																	<li><i class="fa fa-comment"></i>Send Message</li>
																</ul>
															</div>
														</div>
														<ins><a href="time-line.html" title="">Jack Carter</a> video</ins>
														<span><i class="fa fa-globe"></i> published: August,15 2020 19:PM </span>

													</div>
													<div class="post-meta searched">
														<div class="linked-image align-right">
															<a href="https://www.youtube.com/watch?v=MIbbtEjdYrc" title="" data-strip-group="mygroup" class="strip" data-strip-options="width: 700,height: 450,youtube: { autoplay: 1 }">
																<img src="images/resources/search-1.jpg" alt="">
																<i>
																	<svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="30px" width="30px"
																		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
																	<path class="stroke-solid" fill="none" stroke="" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
																	C97.3,23.7,75.7,2.3,49.9,2.5" />
																	<path class="icon" fill="" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
																	</svg>
																</i>
															</a>
														</div>
														<div class="detail">
															<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit...</p>
														</div>

													</div>
												</div>
											</div>
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="images/resources/nearly2.jpg" alt="">
													</figure>
													<div class="friend-name">
														<div class="more">
															<div class="more-post-optns">
																<i class="ti-more-alt"></i>
																<ul>
																	<li><i class="fa fa-comment"></i>Send Message</li>
																</ul>
															</div>
														</div>
														<ins><a href="time-line.html" title="">Jack Carter</a> video</ins>
														<span><i class="fa fa-globe"></i> published: August,15 2020 19:PM </span>

													</div>
													<div class="post-meta searched">
														<div class="linked-image align-right">
															<a href="https://www.youtube.com/watch?v=MIbbtEjdYrc" title="" data-strip-group="mygroup" class="strip" data-strip-options="width: 700,height: 450,youtube: { autoplay: 1 }">
																<img src="images/resources/search-2.jpg" alt="">
																<i>
																	<svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="30px" width="30px"
																		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
																	<path class="stroke-solid" fill="none" stroke="" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
																	C97.3,23.7,75.7,2.3,49.9,2.5" />
																	<path class="icon" fill="" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
																	</svg>
																</i>
															</a>
														</div>
														<div class="detail">
															<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit...</p>
														</div>

													</div>
												</div>
											</div>
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="images/resources/nearly2.jpg" alt="">
													</figure>
													<div class="friend-name">
														<div class="more">
															<div class="more-post-optns">
																<i class="ti-more-alt"></i>
																<ul>
																	<li><i class="fa fa-comment"></i>Send Message</li>
																</ul>
															</div>
														</div>
														<ins><a href="time-line.html" title="">Jack Carter</a> video</ins>
														<span><i class="fa fa-globe"></i> published: August,15 2020 19:PM </span>

													</div>
													<div class="post-meta searched">
														<div class="linked-image align-right">
															<a href="https://www.youtube.com/watch?v=MIbbtEjdYrc" title="" data-strip-group="mygroup" class="strip" data-strip-options="width: 700,height: 450,youtube: { autoplay: 1 }">
																<img src="images/resources/search-3.jpg" alt="">
																<i>
																	<svg version="1.1" class="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="30px" width="30px"
																		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
																	<path class="stroke-solid" fill="none" stroke="" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
																	C97.3,23.7,75.7,2.3,49.9,2.5" />
																	<path class="icon" fill="" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
																	</svg>
																</i>
															</a>
														</div>
														<div class="detail">
															<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit...</p>
														</div>

													</div>
												</div>
											</div>
										</div><!-- post with video -->
									</div>
									<div class="tab-pane fade" id="posts">
										<div class="central-meta item">
											<span class="create-post">Posts<a title="" href="#">See All</a></span>
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="images/resources/nearly2.jpg" alt="">
													</figure>
													<div class="friend-name">
														<div class="more">
															<div class="more-post-optns">
																<i class="ti-more-alt"></i>
																<ul>
																	<li><i class="fa fa-comment"></i>Send Message</li>
																</ul>
															</div>
														</div>
														<ins><a href="time-line.html" title="">Jack Carter</a> Post</ins>
														<span><i class="fa fa-globe"></i> published: September,15 2020 19:PM </span>

													</div>
													<div class="post-meta searched">
														<div class="linked-image align-right">
															<a href="#" title=""><img src="images/resources/search-2.jpg" alt=""></a>
														</div>
														<div class="detail">
															<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor incididunt ut labor... </p>
														</div>

													</div>
												</div>
											</div>
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="images/resources/nearly2.jpg" alt="">
													</figure>
													<div class="friend-name">
														<div class="more">
															<div class="more-post-optns">
																<i class="ti-more-alt"></i>
																<ul>
																	<li><i class="fa fa-comment"></i>Send Message</li>
																</ul>
															</div>
														</div>
														<ins><a href="time-line.html" title="">Jack Carter</a> Post</ins>
														<span><i class="fa fa-globe"></i> published: September,15 2020 19:PM </span>

													</div>
													<div class="post-meta searched">
														<div class="linked-image align-right">
															<a href="#" title=""><img src="images/resources/search-1.jpg" alt=""></a>
														</div>
														<div class="detail">
															<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor incididunt ut labor... </p>
														</div>

													</div>
												</div>
											</div>
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img src="images/resources/nearly2.jpg" alt="">
													</figure>
													<div class="friend-name">
														<div class="more">
															<div class="more-post-optns">
																<i class="ti-more-alt"></i>
																<ul>
																	<li><i class="fa fa-comment"></i>Send Message</li>
																</ul>
															</div>
														</div>
														<ins><a href="time-line.html" title="">Jack Carter</a> Post</ins>
														<span><i class="fa fa-globe"></i> published: September,15 2020 19:PM </span>

													</div>
													<div class="post-meta searched">
														<div class="linked-image align-right">
															<a href="#" title=""><img src="images/resources/search-3.jpg" alt=""></a>
														</div>
														<div class="detail">
															<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor incididunt ut labor... </p>
														</div>

													</div>
												</div>
											</div>
										</div><!-- post with image -->
									</div>
									<div class="tab-pane fade" id="pages">
										<div class="central-meta item">
											<span class="create-post">Pages<a title="" href="#">See All</a></span>
											<div class="pit-pages">
												<figure><a href="#" title=""><img src="images/resources/jackpage1.jpg" alt=""></a></figure>
												<div class="pit-pages-meta">
													<a href="#" title="">Jack Cafe</a>
													<i>Nova Scotia</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Like" href="#"><i class="fa fa-thumbs-up"></i> Like</a>
														</li>
														<li class="remove-frnd">
															<a title="Follow" href="#"><i class="fa fa-star"></i></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-pages">
												<figure><a href="#" title=""><img src="images/resources/jackpage2.jpg" alt=""></a></figure>
												<div class="pit-pages-meta">
													<a href="#" title="">Jack's Cola</a>
													<i>Washington DC</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Like" href="#"><i class="fa fa-thumbs-up"></i> Like</a>
														</li>
														<li class="remove-frnd">
															<a title="Follow" href="#"><i class="fa fa-star"></i></a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-pages">
												<figure><a href="#" title=""><img src="images/resources/jackpage3.jpg" alt=""></a></figure>
												<div class="pit-pages-meta">
													<a href="#" title="">Jack's Jim</a>
													<i>USA</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Like" href="#"><i class="fa fa-thumbs-up"></i> Like</a>
														</li>
														<li class="remove-frnd">
															<a title="Follow" href="#"><i class="fa fa-star"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div><!-- searched pages -->
									</div>
									<div class="tab-pane fade" id="groups">
										<div class="central-meta item">
											<span class="create-post">Groups<a title="" href="#">See All</a></span>
											<div class="pit-groups">
												<figure><a href="#" title=""><img src="images/resources/jackgroup1.jpg" alt=""></a></figure>
												<div class="pit-groups-meta">
													<a href="#" title="">Jack Cooler</a>
													<i>Group · 4.2K members · 510 posts a day</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-plus"></i> Join</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-groups">
												<figure><a href="#" title=""><img src="images/resources/jackgroup2.jpg" alt=""></a></figure>
												<div class="pit-groups-meta">
													<a href="#" title="">Jack Carter</a>
													<i>Group · 4.2K members · 510 posts a day</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-plus"></i> Join</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="pit-groups">
												<figure><a href="#" title=""><img src="images/resources/jackgroup3.jpg" alt=""></a></figure>
												<div class="pit-groups-meta">
													<a href="#" title="">Jack & Jack</a>
													<i>Group · 4.2K members · 510 posts a day</i>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist">
															<a title="Add friend" href="#"><i class="fa fa-plus"></i> Join</a>
														</li>
													</ul>
												</div>
											</div>
										</div><!-- searched groups -->
									</div>
								</div>
								<div class="central-meta item">
									<span class="create-post">Related Searches</span>
									<ul class="related-searches">
										<li><a href="#" title="">jack carter jr.</a></li>
										<li><a href="#" title="">jack carter Pool</a></li>
										<li><a href="#" title="">jack carter fdny </a></li>
										<li><a href="#" title="">jack carter chevrolet cadillac </a></li>
										<li><a href="#" title="">jack jack </a></li>
									</ul>
								</div><!-- Related Searches -->
							</div>
						</div>
						<div class="col-lg-2">
							<aside class="sidebar">
								<div class="wiki-box">
									<h4>
										<img src="images/wiki.png" alt="">
										Content from the Wikipedia article <a href="https://en.wikipedia.org/wiki/Jack_Carter_(politician)" title="" target="_blank">Jack Carter</a>
									</h4>
									<p>
										John William Carter is an American businessman and politician who unsuccessfully ran for the United States Senate in Nevada in 2006.
										<span>Born:</span> July 3, 1947 (age 72) <span>Education:</span> Emory University, Georgia Institute of Technology, Georgia Southwestern State University
										<a class="underline" href="https://en.wikipedia.org/wiki/Jack_Carter_(politician)" target="_blank" title="">Read More</a>
									</p>
									<div class="helpful">
										<span>Was this information helpful?</span>
										<ul class="add-remove-frnd">
											<li class="add-tofrndlist">
												<a href="#" title="Add friend"><i class="fa fa-thumbs-up"></i></a>
											</li>
											<li class="remove-frnd">
												<a href="#" title="Send Message"><i class="fa fa-thumbs-down"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="advertisment-box stick-widget">
									<h4 class="">advertisment</h4>
									<figure><a href="#" title=""><img src="images/ad-baner.jpg" alt=""></a></figure>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="popup-wraper1">
	<div class="popup direct-mesg">
		<span class="popup-closed"><i class="ti-close"></i></span>
		<div class="popup-meta">
			<div class="popup-head">
				<h5>Send Message</h5>
			</div>
			<div class="send-message">
				<form method="post" class="c-form">
					<input type="text" placeholder="Sophia">
					<textarea placeholder="Write Message"></textarea>
					<button type="submit" class="main-btn">Send</button>
				</form>
				<div class="add-smiles">
					<div class="uploadimage">
						<i class="fa fa-image"></i>
						<label class="fileContainer">
							<input type="file">
						</label>
					</div>
					<span title="add icon" class="em em-expressionless"></span>
					<div class="smiles-bunch">
						<i class="em em---1"></i>
						<i class="em em-smiley"></i>
						<i class="em em-anguished"></i>
						<i class="em em-laughing"></i>
						<i class="em em-angry"></i>
						<i class="em em-astonished"></i>
						<i class="em em-blush"></i>
						<i class="em em-disappointed"></i>
						<i class="em em-worried"></i>
						<i class="em em-kissing_heart"></i>
						<i class="em em-rage"></i>
						<i class="em em-stuck_out_tongue"></i>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>