@page "/timeline-photos"
@{
	Layout = "./Shared/_AdditionalLayout.cshtml";
}
<section>
	<div class="gap2 gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row merged20" id="page-contents">
						<div class="user-profile">
							<figure>
								<div class="edit-pp">
									<label class="fileContainer">
										<i class="fa fa-camera"></i>
										<input type="file">
									</label>
								</div>
								<img src="images/resources/profile-image.jpg" alt="">
								<ul class="profile-controls">
									<li><a href="#" title="Add friend" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
									<li><a href="#" title="Follow" data-toggle="tooltip"><i class="fa fa-star"></i></a></li>
									<li><a class="send-mesg" href="#" title="Send Message" data-toggle="tooltip"><i class="fa fa-comment"></i></a></li>
									<li>
										<div class="edit-seting" title="Edit Profile image">
											<i class="fa fa-sliders"></i>
											<ul class="more-dropdown">
												<li><a href="setting.html" title="">Update Profile Photo</a></li>
												<li><a href="setting.html" title="">Update Header Photo</a></li>
												<li><a href="setting.html" title="">Account Settings</a></li>
												<li><a href="support-and-help.html" title="">Find Support</a></li>
												<li><a class="bad-report" href="#" title="">Report Profile</a></li>
												<li><a href="#" title="">Block Profile</a></li>
											</ul>
										</div>
									</li>
								</ul>
								<ol class="pit-rate">
									<li class="rated"><i class="fa fa-star"></i></li>
									<li class="rated"><i class="fa fa-star"></i></li>
									<li class="rated"><i class="fa fa-star"></i></li>
									<li class="rated"><i class="fa fa-star"></i></li>
									<li class=""><i class="fa fa-star"></i></li>
									<li>4.7/5</li>
								</ol>
							</figure>

							<div class="profile-section">
								<div class="row">
									<div class="col-lg-2 col-md-3">
										<div class="profile-author">
											<div class="profile-author-thumb">
												<img alt="author" src="images/resources/author.jpg">
												<div class="edit-dp">
													<label class="fileContainer">
														<i class="fa fa-camera"></i>
														<input type="file">
													</label>
												</div>
											</div>

											<div class="author-content">
												<a class="h4 author-name" href="about.html">Jack Carter</a>
												<div class="country">Ontario, CA</div>
											</div>
										</div>
									</div>
									<div class="col-lg-10 col-md-9">
										<ul class="profile-menu">
											<li>
												<a class="" href="timeline.html">Timeline</a>
											</li>
											<li>
												<a class="" href="about.html">About</a>
											</li>
											<li>
												<a class="" href="timeline-friends.html">Friends</a>
											</li>
											<li>
												<a class="active" href="timeline-photos.html">Photos</a>
											</li>
											<li>
												<a class="" href="timeline-videos.html">Videos</a>
											</li>
											<li>
												<div class="more">
													<i class="fa fa-ellipsis-h"></i>
													<ul class="more-dropdown">
														<li>
															<a href="timeline-groups.html">Profile Groups</a>
														</li>
														<li>
															<a href="statistics.html">Profile Analytics</a>
														</li>
													</ul>
												</div>
											</li>
										</ul>
										<ol class="folw-detail">
											<li><span>Posts</span><ins>101</ins></li>
											<li><span>Followers</span><ins>1.3K</ins></li>
											<li><span>Following</span><ins>22</ins></li>
										</ol>
									</div>
								</div>
							</div>
						</div><!-- user profile banner  -->
						<div class="col-lg-3">
							<aside class="sidebar static">
								<div class="widget">
									<h4 class="widget-title">Shortcuts</h4>
									<ul class="naves">
										<li>
											<i class="ti-clipboard"></i>
											<a href="newsfeed.html" title="">News feed</a>
										</li>
										<li>
											<i class="ti-mouse-alt"></i>
											<a href="inbox.html" title="">Inbox</a>
										</li>
										<li>
											<i class="ti-files"></i>
											<a href="fav-page.html" title="">My pages</a>
										</li>
										<li>
											<i class="ti-user"></i>
											<a href="timeline-friends.html" title="">friends</a>
										</li>
										<li>
											<i class="ti-image"></i>
											<a href="timeline-photos.html" title="">images</a>
										</li>
										<li>
											<i class="ti-video-camera"></i>
											<a href="timeline-videos.html" title="">videos</a>
										</li>
										<li>
											<i class="ti-comments-smiley"></i>
											<a href="messages.html" title="">Messages</a>
										</li>
										<li>
											<i class="ti-bell"></i>
											<a href="notifications.html" title="">Notifications</a>
										</li>
										<li>
											<i class="ti-share"></i>
											<a href="people-nearby.html" title="">People Nearby</a>
										</li>
										<li>
											<i class="fa fa-bar-chart-o"></i>
											<a href="insights.html" title="">insights</a>
										</li>
										<li>
											<i class="ti-power-off"></i>
											<a href="landing.html" title="">Logout</a>
										</li>
									</ul>
								</div><!-- Shortcuts -->
								<div class="widget">
									<h4 class="widget-title">Profile intro</h4>
									<ul class="short-profile">
										<li>
											<span>about</span>
											<p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft company. </p>
										</li>
										<li>
											<span>fav tv show</span>
											<p>Sacred Games, Spartcus Blood, Games of theron</p>
										</li>
										<li>
											<span>favourit music</span>
											<p>Justin Biber, Nati Natsha, Shakira</p>
										</li>
									</ul>
								</div><!-- profile intro widget -->

							</aside>
						</div><!-- sidebar -->
						<div class="col-lg-9">
							<div class="central-meta">
								<div class="title-block">
									<div class="row">
										<div class="col-lg-6">
											<div class="align-left">
												<h5>Photos <span>62</span></h5>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="row merged20">
												<div class="col-lg-7 col-md-7 col-sm-7">
													<form method="post">
														<input type="text" placeholder="Search Photo">
														<button type="submit"><i class="fa fa-search"></i></button>
													</form>
												</div>
												<div class="col-lg-4 col-md-4 col-sm-4">
													<div class="select-options">
														<select class="select">
															<option>Sort by</option>
															<option>A to Z</option>
															<option>See All</option>
															<option>Newest</option>
															<option>oldest</option>
														</select>
													</div>
												</div>
												<div class="col-lg-1 col-md-1 col-sm-1">
													<div class="option-list">
														<i class="fa fa-ellipsis-v"></i>
														<ul>
															<li class="active"><i class="fa fa-check"></i><a title="" href="#">Show Public</a></li>
															<li><a title="" href="#">Show only Friends</a></li>
															<li><a title="" href="#">Hide all Posts</a></li>
															<li><a title="" href="#">Mute Notifications</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><!-- title block -->
							<div class="central-meta">
								<div class="row merged5">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<div class="item-upload album">
												<i class="fa fa-plus-circle"></i>
												<div class="upload-meta">
													<h5>Upload photo or album</h5>
													<span>its only take a few seconds!</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-101.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo1.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 15</a>
												<span>20 hours ago</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-22.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo2.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 20</a>
												<span>20 days ago</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-33.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo3.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 155</a>
												<span>Yesterday</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-44.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo4.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 201</a>
												<span>3 weeks ago</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-55.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo5.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 81</a>
												<span>2 months ago</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-66.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo6.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 98</a>
												<span>1 day</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-77.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo7.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 87</a>
												<span>23 hours ago</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-88.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo8.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 60</a>
												<span>3 days ago</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-99.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo9.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 897</a>
												<span>1 year ago</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-1001.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo10.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 983</a>
												<span>2 years ago</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-1011.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo11.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 40</a>
												<span>4 days ago</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-1012.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo12.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 15</a>
												<span>20 hours ago</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-1013.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo13.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 59</a>
												<span>20 days ago</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-1014.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo14.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 66</a>
												<span>1 year ago</span>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
										<div class="item-box">
											<a class="strip" href="images/resources/photo-1015.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="images/resources/photo15.jpg" alt="">
											</a>
											<div class="over-photo">
												<a href="#" title=""><i class="fa fa-heart"></i> 98</a>
												<span>9 months ago</span>
											</div>
										</div>
									</div>
								</div>

								<div class="lodmore">
									<span>Viewing 1-15 of 62 Pictures</span>
									<button class="btn-view btn-load-more"></button>
								</div>
							</div><!-- photos -->
						</div><!-- centerl meta -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="popup-wraper5">
	<div class="popup">
		<span class="popup-closed"><i class="ti-close"></i></span>
		<div class="popup-meta">
			<div class="popup-head">
				<h5>Upload Pictures & Videos</h5>
			</div>
			<div class="upload-boxes">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="smal-box">
							<label class="fileContainer">
								<i class=" ti-layout-media-center-alt"></i>
								<input type="file">
								<em>Upload New</em>
								<span>Choose form Computer</span>
							</label>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="smal-box">
							<div class="from-gallery">
								<i class="ti-layout-grid2"></i>
								<em>From Gallery Or Album</em>
								<span>Choose form already uploaded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="sugested-photos">
					<h5>Suggested Photos & Videos <a href="#" title="">See All</a></h5>
					<ul class="sugestd-photo-caro">
						<li><img src="images/resources/sug1.jpg" alt=""></li>
						<li><img src="images/resources/sug2.jpg" alt=""></li>
						<li><img src="images/resources/sug3.jpg" alt=""></li>
						<li><img src="images/resources/sug4.jpg" alt=""></li>
						<li><img src="images/resources/sug5.jpg" alt=""></li>
					</ul>
				</div>
				<a class="main-btn" href="#" title="" data-ripple="">Proceed</a>
			</div>
		</div>
	</div>
	<div class="already-gallery">
		<div class="popup-head">
			<h5>Choose from gallery</h5>
		</div>
		<ul class="sugestd-photo-caro">
			<li><img src="images/resources/sug1.jpg" alt=""></li>
			<li><img src="images/resources/sug2.jpg" alt=""></li>
			<li><img src="images/resources/sug3.jpg" alt=""></li>
			<li><img src="images/resources/sug4.jpg" alt=""></li>
			<li><img src="images/resources/sug5.jpg" alt=""></li>
			<li><img src="images/resources/sug6.jpg" alt=""></li>
			<li><img src="images/resources/sug7.jpg" alt=""></li>
			<li><img src="images/resources/sug4.jpg" alt=""></li>
			<li><img src="images/resources/sug1.jpg" alt=""></li>
			<li><img src="images/resources/sug2.jpg" alt=""></li>
			<li><img src="images/resources/sug4.jpg" alt=""></li>
			<li><img src="images/resources/sug5.jpg" alt=""></li>
			<li><img src="images/resources/sug6.jpg" alt=""></li>
			<li><img src="images/resources/sug7.jpg" alt=""></li>
			<li><img src="images/resources/sug1.jpg" alt=""></li>
			<li><img src="images/resources/sug4.jpg" alt=""></li>
			<li><img src="images/resources/sug5.jpg" alt=""></li>
		</ul>
		<a class="main-btn" href="#" title="" data-ripple="">Confirm</a>
		<a class="main-btn canceld" href="#" title="" data-ripple="">Cancel</a>
	</div>
</div><!-- upload popup -->

<div class="popup-wraper1">
	<div class="popup direct-mesg">
		<span class="popup-closed"><i class="ti-close"></i></span>
		<div class="popup-meta">
			<div class="popup-head">
				<h5>Send Message</h5>
			</div>
			<div class="send-message">
				<form method="post" class="c-form">
					<input type="text" placeholder="Sophia">
					<textarea placeholder="Write Message"></textarea>
					<button type="submit" class="main-btn">Send</button>
				</form>
				<div class="add-smiles">
					<div class="uploadimage">
						<i class="fa fa-image"></i>
						<label class="fileContainer">
							<input type="file">
						</label>
					</div>
					<span title="add icon" class="em em-expressionless"></span>
					<div class="smiles-bunch">
						<i class="em em---1"></i>
						<i class="em em-smiley"></i>
						<i class="em em-anguished"></i>
						<i class="em em-laughing"></i>
						<i class="em em-angry"></i>
						<i class="em em-astonished"></i>
						<i class="em em-blush"></i>
						<i class="em em-disappointed"></i>
						<i class="em em-worried"></i>
						<i class="em em-kissing_heart"></i>
						<i class="em em-rage"></i>
						<i class="em em-stuck_out_tongue"></i>
					</div>
				</div>

			</div>
		</div>
	</div>
</div><!-- send message popup -->

<div class="popup-wraper3">
	<div class="popup">
		<span class="popup-closed"><i class="ti-close"></i></span>
		<div class="popup-meta">
			<div class="popup-head">
				<h5>Report Post</h5>
			</div>
			<div class="Rpt-meta">
				<span>We're sorry something's wrong. How can we help?</span>
				<form method="post" class="c-form">
					<div class="form-radio">
						<div class="radio">
							<label>
								<input type="radio" name="radio" checked="checked"><i class="check-box"></i>It's spam or abuse
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"><i class="check-box"></i>It breaks r/technology's rules
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"><i class="check-box"></i>Not Related
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"><i class="check-box"></i>Other issues
							</label>
						</div>
					</div>
					<div>
						<label>Write about Report</label>
						<textarea placeholder="write someting about Post" rows="2"></textarea>
					</div>
					<div>
						<button data-ripple="" type="submit" class="main-btn">Submit</button>
						<a href="#" data-ripple="" class="main-btn3 cancel">Close</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div><!-- report popup -->
