@page "/timeline-group"
@{
    Layout = "./Shared/_AdditionalLayout.cshtml";

}
<section>
	<div class="gap2 gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row merged20" id="page-contents">
						<div class="user-profile">
							<figure>
								<div class="edit-pp">
									<label class="fileContainer">
										<i class="fa fa-camera"></i>
										<input type="file">
									</label>
								</div>
								<img src="images/resources/profile-image.jpg" alt="">
								<ul class="profile-controls">
									<li><a href="#" title="Add friend" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
									<li><a href="#" title="Follow" data-toggle="tooltip"><i class="fa fa-star"></i></a></li>
									<li><a class="send-mesg" href="#" title="Send Message" data-toggle="tooltip"><i class="fa fa-comment"></i></a></li>
									<li>
										<div class="edit-seting" title="Edit Profile image">
											<i class="fa fa-sliders"></i>
											<ul class="more-dropdown">
												<li><a href="setting.html" title="">Update Profile Photo</a></li>
												<li><a href="setting.html" title="">Update Header Photo</a></li>
												<li><a href="setting.html" title="">Account Settings</a></li>
												<li><a href="support-and-help.html" title="">Find Support</a></li>
												<li><a class="bad-report" href="#" title="">Report Profile</a></li>
												<li><a href="#" title="">Block Profile</a></li>
											</ul>
										</div>
									</li>
								</ul>
								<ol class="pit-rate">
									<li class="rated"><i class="fa fa-star"></i></li>
									<li class="rated"><i class="fa fa-star"></i></li>
									<li class="rated"><i class="fa fa-star"></i></li>
									<li class="rated"><i class="fa fa-star"></i></li>
									<li class=""><i class="fa fa-star"></i></li>
									<li>4.7/5</li>
								</ol>
							</figure>

							<div class="profile-section">
								<div class="row">
									<div class="col-lg-2 col-md-3">
										<div class="profile-author">
											<div class="profile-author-thumb">
												<img alt="author" src="images/resources/author.jpg">
												<div class="edit-dp">
													<label class="fileContainer">
														<i class="fa fa-camera"></i>
														<input type="file">
													</label>
												</div>
											</div>

											<div class="author-content">
												<a class="h4 author-name" href="about.html">Jack Carter</a>
												<div class="country">Ontario, CA</div>
											</div>
										</div>
									</div>
									<div class="col-lg-10 col-md-9">
										<ul class="profile-menu">
											<li>
												<a class="" href="timeline.html">Timeline</a>
											</li>
											<li>
												<a class="" href="about.html">About</a>
											</li>
											<li>
												<a class="" href="timeline-friends.html">Friends</a>
											</li>
											<li>
												<a class="" href="timeline-photos.html">Photos</a>
											</li>
											<li>
												<a class="" href="timeline-videos.html">Videos</a>
											</li>
											<li>
												<div class="more">
													<i class="fa fa-ellipsis-h"></i>
													<ul class="more-dropdown">
														<li>
															<a href="timeline-groups.html">Profile Groups</a>
														</li>
														<li>
															<a href="statistics.html">Profile Analytics</a>
														</li>
													</ul>
												</div>
											</li>
										</ul>
										<ol class="folw-detail">
											<li><span>Posts</span><ins>101</ins></li>
											<li><span>Followers</span><ins>1.3K</ins></li>
											<li><span>Following</span><ins>22</ins></li>
										</ol>
									</div>
								</div>
							</div>
						</div><!-- user profile banner  -->
						<div class="col-lg-12">
							<div class="central-meta">
								<div class="title-block">
									<div class="row">
										<div class="col-lg-6">
											<div class="align-left">
												<h5>Groups <span>56</span></h5>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="row merged20">
												<div class="col-lg-7 col-md-7 col-sm-7">
													<form method="post">
														<input type="text" placeholder="Search Group">
														<button type="submit"><i class="fa fa-search"></i></button>
													</form>
												</div>
												<div class="col-lg-4 col-md-4 col-sm-4">
													<div class="select-options">
														<select class="select">
															<option>Sort by</option>
															<option>A to Z</option>
															<option>See All</option>
															<option>Newest</option>
															<option>oldest</option>
														</select>
													</div>
												</div>
												<div class="col-lg-1 col-md-1 col-sm-1">
													<div class="option-list">
														<i class="fa fa-ellipsis-v"></i>
														<ul>
															<li><a title="" href="#">Show Friends Public</a></li>
															<li><a title="" href="#">Show Friends Private</a></li>
															<li><a title="" href="#">Mute Notifications</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><!-- title block -->
							<div class="central-meta padding30">
								<div class="row">
									<div class="col-lg-2 col-md-4 col-sm-4">
										<div class="addgroup">
											<div class="item-upload">
												<i class="fa fa-plus-circle"></i>
												<div class="upload-meta">
													<h5>Create Group</h5>
													<span>its only take a few minutes!</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-4">
										<div class="group-box">
											<figure><img src="images/resources/group1.jpg" alt=""></figure>
											<a href="#" title="">Sports Punch</a>
											<span>125M Members</span>
											<button>join group</button>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-4">
										<div class="group-box">
											<figure><img src="images/resources/group2.jpg" alt=""></figure>
											<a href="#" title="">Asian Girls</a>
											<span>12k Members</span>
											<button>join group</button>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-4">
										<div class="group-box">
											<figure><img src="images/resources/group3.jpg" alt=""></figure>
											<a href="#" title="">Graphic Design</a>
											<span>125M Members</span>
											<button>join group</button>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-4">
										<div class="group-box">
											<figure><img src="images/resources/group4.jpg" alt=""></figure>
											<a href="#" title="">Family Lovers</a>
											<span>1M Members</span>
											<button>join group</button>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-4">
										<div class="group-box">
											<figure><img src="images/resources/group5.jpg" alt=""></figure>
											<a href="#" title="">School Mates</a>
											<span>22M Members</span>
											<button>join group</button>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-4">
										<div class="group-box">
											<figure><img src="images/resources/group6.jpg" alt=""></figure>
											<a href="#" title="">Panama Beach</a>
											<span>5M Members</span>
											<button>join group</button>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-4">
										<div class="group-box">
											<figure><img src="images/resources/group7.jpg" alt=""></figure>
											<a href="#" title="">Online Teching</a>
											<span>52k Members</span>
											<button>join group</button>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-4">
										<div class="group-box">
											<figure><img src="images/resources/group8.jpg" alt=""></figure>
											<a href="#" title="">Child Cares</a>
											<span>1M Members</span>
											<button>join group</button>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-4">
										<div class="group-box">
											<figure><img src="images/resources/group9.jpg" alt=""></figure>
											<a href="#" title="">Fun Art</a>
											<span>35k Members</span>
											<button>join group</button>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-4">
										<div class="group-box">
											<figure><img src="images/resources/group10.jpg" alt=""></figure>
											<a href="#" title="">Kids Players</a>
											<span>10M Members</span>
											<button>join group</button>
										</div>
									</div>
									<div class="col-lg-2 col-md-4 col-sm-4">
										<div class="group-box">
											<figure><img src="images/resources/group11.jpg" alt=""></figure>
											<a href="#" title="">Goldi Friends</a>
											<span>14M Members</span>
											<button>join group</button>
										</div>
									</div>
								</div>
								<div class="lodmore">
									<span>Viewing 1-11 of 302 Groups</span>
									<button class="btn-view btn-load-more"></button>
								</div>
							</div>
							<div class="central-meta">
								<div class="author-info">
									<h4>Suggested Groups</h4>
									<p>You May join more these relevant groups.</p>
								</div>
								<ul class="related-groups">
									<li>
										<div class="group-box">
											<figure><img src="images/resources/group12.jpg" alt=""></figure>
											<a href="#" title="">Big Biker</a>
											<span>15K Members</span>
											<button>join group</button>
										</div>
									</li>
									<li>
										<div class="group-box">
											<figure><img src="images/resources/group13.jpg" alt=""></figure>
											<a href="#" title="">Blue Tech</a>
											<span>12k Members</span>
											<button>join group</button>
										</div>
									</li>
									<li>
										<div class="group-box">
											<figure><img src="images/resources/group14.jpg" alt=""></figure>
											<a href="#" title="">Gold Movies</a>
											<span>125M Members</span>
											<button>join group</button>
										</div>
									</li>
									<li>
										<div class="group-box">
											<figure><img src="images/resources/group15.jpg" alt=""></figure>
											<a href="#" title="">Musicly Friends</a>
											<span>22M Members</span>
											<button>join group</button>
										</div>
									</li>
									<li>
										<div class="group-box">
											<figure><img src="images/resources/group16.jpg" alt=""></figure>
											<a href="#" title="">AFC Cafe</a>
											<span>5k Members</span>
											<button>join group</button>
										</div>
									</li>
									<li>
										<div class="group-box">
											<figure><img src="images/resources/group17.jpg" alt=""></figure>
											<a href="#" title="">Volunteers</a>
											<span>12k Members</span>
											<button>join group</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- content -->

<div class="popup-wraper4">
	<div class="popup creat-group">
		<span class="popup-closed"><i class="ti-close"></i></span>
		<div class="popup-meta">
			<div class="popup-head">
				<h5>Create Friend Group</h5>
			</div>
			<div class="group-adding">
				<div class="friend-group">

					<div class="change-photo">
						<figure><img src="images/resources/admin2.jpg" alt=""></figure>
						<div class="edit-img">
							<form class="edit-phto">
								<label class="fileContainer">
									<i class="fa fa-camera-retro"></i>
									Upload Group Avatar
									<input type="file">
								</label>
							</form>
						</div>
					</div>
					<form method="post">
						<input type="text" placeholder="Group Name">
						<input type="text" placeholder="Category">
						<select>
							<option value="Select">Select</option>
							<option value="">Family front</option>
							<option value="">Gold Mines Group</option>
							<option value="">Friends Family</option>
							<option value="">Creative world</option>
						</select>
						<button class="main-btn">Create Group</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div><!-- Create friends Group -->

<div class="popup-wraper1">
	<div class="popup direct-mesg">
		<span class="popup-closed"><i class="ti-close"></i></span>
		<div class="popup-meta">
			<div class="popup-head">
				<h5>Send Message</h5>
			</div>
			<div class="send-message">
				<form method="post" class="c-form">
					<input type="text" placeholder="Sophia">
					<textarea placeholder="Write Message"></textarea>
					<button type="submit" class="main-btn">Send</button>
				</form>
				<div class="add-smiles">
					<div class="uploadimage">
						<i class="fa fa-image"></i>
						<label class="fileContainer">
							<input type="file">
						</label>
					</div>
					<span title="add icon" class="em em-expressionless"></span>
					<div class="smiles-bunch">
						<i class="em em---1"></i>
						<i class="em em-smiley"></i>
						<i class="em em-anguished"></i>
						<i class="em em-laughing"></i>
						<i class="em em-angry"></i>
						<i class="em em-astonished"></i>
						<i class="em em-blush"></i>
						<i class="em em-disappointed"></i>
						<i class="em em-worried"></i>
						<i class="em em-kissing_heart"></i>
						<i class="em em-rage"></i>
						<i class="em em-stuck_out_tongue"></i>
					</div>
				</div>

			</div>
		</div>
	</div>
</div><!-- send message popup -->

<div class="popup-wraper3">
	<div class="popup">
		<span class="popup-closed"><i class="ti-close"></i></span>
		<div class="popup-meta">
			<div class="popup-head">
				<h5>Report Post</h5>
			</div>
			<div class="Rpt-meta">
				<span>We're sorry something's wrong. How can we help?</span>
				<form method="post" class="c-form">
					<div class="form-radio">
						<div class="radio">
							<label>
								<input type="radio" name="radio" checked="checked"><i class="check-box"></i>It's spam or abuse
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"><i class="check-box"></i>It breaks r/technology's rules
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"><i class="check-box"></i>Not Related
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"><i class="check-box"></i>Other issues
							</label>
						</div>
					</div>
					<div>
						<label>Write about Report</label>
						<textarea placeholder="write someting about Post" rows="2"></textarea>
					</div>
					<div>
						<button data-ripple="" type="submit" class="main-btn">Submit</button>
						<a href="#" data-ripple="" class="main-btn3 cancel">Close</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div><!-- report popup -->